<h1>Your Gardens</h1>

<% if @gardens.any? %>
  <ul>
    <% @gardens.each do |garden| %>
      <li>
        <h2><%= link_to garden.name, garden_path(garden) %></h2>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any gardens yet. <%= link_to 'Create one now!', new_garden_path %></p>
  <p>All my gardens are listed here.</p>
  <p>Click on a garden name to view its details.</p>
  <p>Click on the "Create a New Garden" button to add a new garden.</p>
<% end %>

<%= link_to 'Create New Garden', new_garden_path, class: 'btn btn-success' %>
